body {
    background-color: powderblue;
    text-align: center;
}

h1 {
    color: darkslateblue;
    font-family: fantasy;
    font-size: 50px;
    text-align: center;
}

#intro {
    font-size: 20px;
}

#link {
    font-size: 25px;
}

#Essential {
    font-size: 20px;
}